.home-heading {
  text-shadow: 2px 2px 8px #000000;
}

.containers {
  padding-left: 20px;
}

.no-top-padding {
  padding-top: 0px;
}

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption h1 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.4;
  color: #f3961d;
  font-weight: 800;
}

.carousel-caption p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #fbba2c;
  font-weight: 800;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}

.carousel-inner > .item > img {
  margin: auto auto auto auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel {
    height: 500px;
  }

  .carousel .item {
    height: 500px;
  }

  .carousel-inner > .item > img {
    height: 500px;
  }

  .carousel-caption h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.4;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
}

.text-secondary {
  color: #f7f7f7;
}

.text-muted {
  color: #7b7b7b;
}

@media (max-width: 768px) {
  .text-muted {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width: 768px) {

  .navbar-brand,
  .navbar-nav li a {
      line-height: 100px;
      height: 100px;
  }
}